
{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">


{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bearish Engulfing</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <!-- <form action="{{ url_for("home_page")}}" method="post"></form>                   -->
            <form action="/bearishengulfing/15m"> <input type="submit" value="15m" /></form>
            <form action="/bearishengulfing/30m"> <input type="submit" value="30m" /></form>
            <form action="/bearishengulfing/1hr"> <input type="submit" value="1hr" /></form>
            <form action="/bearishengulfing"> <input type="submit" value="Daily" /></form>
            <form action="/bearishengulfing/1wk"> <input type="submit" value="Weekly" /></form>
            <form action="/bearishengulfing/1mo"> <input type="submit" value="Monthly" /></form>
            
          </div>
      <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button> -->
    </div>
  </div>
    {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
    {% endfor %}

  <h3>Tutorial on Bearish Engulfing Patterns</h3>

  <p align="justify" style="text-align: justify;"> 
    <b>What is Bearish Engulfing Candlestick Pattern?</b><br>
    Bearish Engulfing Candlestick Pattern is formed generally at the end of a uptrend, or near a potential resistance. Bearish Candlestick pattern is a reliable reversal pattern and since it is formed at the top of a uptrend, it is also known as top reversal or bearish reversal pattern. Basically this pattern is made up of two candlestick or can say it takes 2 days for this pattern to be formed.<br><br>
    
    <b>Day 1.</b> On day one a small  bullish candlestick is formed.<br>
    <b>Day 2.</b> On the second day a larger bearish candlestick  is formed such that the body of the bearish candlestick completely overshadows or engulf the body of the bullish candlestick formed on Day 1.<br>
    </p>
      <!-- <div style="width: auto; float:right">  -->
      <!-- <img src="static/billish.jpg" alt="Sample"> -->
    <img src="{{url_for('static', filename='bearish.png')}}" alt="Bullish Engulfing Entry Strategy">
      <!-- </div> / -->
{% endblock %}